<!-- Menubar -->
<section class="top sticky top-0">
    <div class="top-box">
        <nav>
            <div class="Right-top">
                <div class="logo" routerLink="/home" routerLinkActive="active">
                    <img src="assets/logo.png" alt="Soul Compass">
                    <h3>Soul Compass</h3>
                </div>
            </div>
            <div class="Mid-top" [ngStyle]="{ 'left': isMenuOpen ? '0px' : '-300px' }">
                <button class="left-arrow" (click)="closeMenu()"><i class="pi pi-arrow-left" style="font-size: 1.3rem"></i></button> 
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active">Home
                        <i class="pi pi-home" style="font-size: 1rem"></i>
                    </a></li>
                    <li><a routerLink="/blog" routerLinkActive="active">Blog
                        <i class="pi pi-moon" style="font-size: 1rem"></i>
                    </a></li>
                    <li><a routerLink="/test" routerLinkActive="active">Test
                        <i class="pi pi-clipboard" style="font-size: 1rem"></i>
                    </a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact
                        <i class="pi pi-phone" style="font-size: 1rem"></i>
                    </a></li>
                </ul>
            </div>
            <div class="Left-top">
                <ul>
                    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
                </ul>
                <button class="tab-bar" (click)="toggleMenu()"><i class="pi pi-align-justify" style="font-size: 1.3rem"></i></button>
            </div>
        </nav>
    </div>
</section>

<section class="body-1 flex flex-column align-items-center  py-5" id="Top" *ngIf="showTopSection">
    <div class="text-center mb-5">
        <span class="text-900 font-bold text-2xl">How Are You Today </span>
        <i class="pi pi-heart-fill text-red-500 text-2xl"></i>
    </div>
    <div class="">
        <div class="flex flex-wrap justify-content-center gap-7">

            <!-- Hộp Happy -->
            <div class="surface-card shadow-2 p-4 border-round ">
                <div class="text-center mb-2">
                    <span class="text-900 font-bold text-lg">Happy</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-green-500 font-bold text-3xl">000</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-500">Users are happy today</span>
                </div>
                <div class="flex cursor-pointer align-items-center justify-content-center mt-3">
                    <div class="flex bg-cyan-100 hover:bg-cyan-300 align-items-center justify-content-center border-round" 
                         style="width:3rem; height:3rem;"
                         (click)="toggleIcon()">
                        <i  [ngClass]="{'pi-thumbs-up': !clicked, 'pi-thumbs-up-fill': clicked}" 
                        class="pi text-cyan-500 text-2xl"></i>
                    </div>
                </div>
            </div>

            <!-- Hộp Normal -->
            <div class="surface-card shadow-2 p-4 border-round ">
                <div class="text-center mb-2">
                    <span class="text-900 font-bold text-lg">Normal</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-yellow-500 font-bold text-3xl">000</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-500">Users are normal today</span>
                </div>
                <div class="flex cursor-pointer align-items-center justify-content-center mt-3">
                    <div class="flex bg-yellow-100 hover:bg-yellow-300 align-items-center justify-content-center  border-round" 
                         style="width:3rem; height:3rem;"
                         (click)="toggleIcon1()">
                        <i [ngClass]="{'pi-star': !clicked1, 'pi-star-fill': clicked1}" 
                        class="pi text-green-500 text-2xl"></i>
                    </div>
                </div>
            </div>

            <!-- Hộp Sad -->
            <div class="surface-card shadow-2 p-4 border-round ">
                <div class="text-center mb-2">
                    <span class="text-900 font-bold text-lg">Sad</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-red-500 font-bold text-3xl">000</span>
                </div>
                <div class="text-center my-2">
                    <span class="text-500">Users are sad today</span>
                </div>
                <div class="flex cursor-pointer align-items-center justify-content-center mt-3">
                    <div class="flex bg-pink-100 hover:bg-pink-300 align-items-center justify-content-center border-round"
                         style="width:3rem; height:3rem;"
                         (click)="toggleIcon2()">
                        <i 
                        [ngClass]="{'pi-thumbs-down': !clicked2, 'pi-thumbs-down-fill': clicked2}" 
                        class="pi text-pink-500 text-2xl"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card flex justify-content-center align-items-center mt-3 w-full md:w-6 lg:w-4">
        <p-card header="Quote of the Day" class="text-center p-5">
            <div class="quote-content">
                <p class="text-xl text-700 mb-2">{{ content }}</p>
                <p class="text-sm text-text-500 font-italic mb-4">- {{ author }} -</p>
            </div>
            <p-button size="large" label="Do Test Here" [outlined]="true" severity="success" (click)="toTest()" routerLinkActive="active"/>
        </p-card>
    </div>

</section>
<!-- Test -->
<section class="test" id="Test" *ngIf="showTestSection">
    <!-- Quiz -->
    <div class="test-here">
      <div class="grid nested-grid">
        <div class="col-8">
          <div id="quiz" class="justify-center flex-column">
            <div class="questions flex justify-center ">
              <h2>Q{{ currentQuestionIndex + 1 }}:</h2>
              <h2 class="flex p-2">{{ questions[currentQuestionIndex].text }}</h2>
            </div>
  
            <div *ngFor="let choice of questions[currentQuestionIndex].choices; let i = index" 
                 (click)="selectChoice(i)"
                 [class.selected]="selectedChoices[currentQuestionIndex] === i"
                 class="choice">
              <p class="choice-pre">{{ ['A', 'B', 'C', 'D','E'][i] }}</p>
              <p class="choice-text">{{ choice }}</p>
            </div>
  
            <div class="btn-choice justify-content-center">
              <p-button class="p-2"
                        label="Back"
                        size="large"
                        [rounded]="true"
                        severity="info"
                        (click)="goBack()"
                        [disabled]="currentQuestionIndex === 0"></p-button>
              <p-button class="p-2"
                        label="Next"
                        size="large"
                        [rounded]="true"
                        severity="info"
                        (click)="goNext()"
                        [disabled]="selectedChoices[currentQuestionIndex] === null || currentQuestionIndex === questions.length - 1"></p-button>
            </div>
          </div>
        </div>
  
        <!-- Progress and Done/Quit buttons -->
        <div class="col-4 p-3">
          <div class="card-container">
            <p-card header="Progress" class="text-center p-2">
              <div class="quote-content">
                <p class="text-xl p-2 text-700 mb-2">{{ currentQuestionIndex + 1 }}/{{ questions.length }}</p>
              </div>
              <p-button class="p-2"
                        label="Done"
                        severity="success"
                        (click)="showResults()"
                        [disabled]="currentQuestionIndex !== questions.length - 1 || selectedChoices.includes(null)">
              </p-button>
              <p-button class="p-2" label="Quit" severity="danger" (click)="isQuit()"></p-button>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mess flex" id="mess-section">
        <div *ngIf="isAnalyzing" class="analysis">
          <p class="analyzing-text">{{ analysisText }}</p>
        </div>
        <div *ngIf="!isAnalyzing && depressionLevel" class="results justify-center flex-column">
          <h2>Kết Quả</h2>
          <p>Mức Độ Trầm Cảm Của Bạn: <strong>{{ depressionLevel }}</strong></p>
          <p>Total Score: {{ totalScore }}</p>
          <div class="advice-section">
            <h2>Những lời khuyên hữu ích:</h2>
            <ul class="flex flex-column">
              <li class="flex align-items-center p-3" *ngFor="let advice of detailedAdvice">- {{ advice }}</li>
            </ul>
          </div>
          <div class="addd">
            <h2>Trên đây là những lời khuyên hữu ích mà bạn có thể áp dụng cho tình trạng của mình</h2>
            <p>Hãy gặp trực tiếp bác sĩ tâm lý nếu bạn cần để họ có thể kiểm tra chính xác hơn tình trạng của bạn nhé <i class="pi pi-heart-fill" style="font-size: 1rem"></i></p>
            <a routerLink="/contact" routerLinkActive="active">Contact here
                <i class="pi pi-phone" style="font-size: 1.2rem"></i>
            </a>
          </div>
        </div>
      </div>

</section>
  

<!-- Footer -->
<section class="footer" >
    <div class="footer-content">
        <h3>Soul Compass</h3>
        <p>Nơi Định Hướng Tâm Hồn</p>
        <div class="icon">
            <a><i class="pi pi-facebook" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-youtube" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-tiktok" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-discord" style="font-size: 1.3rem"></i></a>
        </div>
    </div>
    <div class="footer-content">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/test" routerLinkActive="active">Test</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </div>
    <div class="footer-content">
        <li><a>Help</a></li>
        <li><a>Privacy</a></li>
        <li><a>Condition</a></li>
        <li><a>FAQS</a></li>
    </div>
</section>

