<!-- Login -->
<section>
    <div class="flex align-items-center justify-content-center lg:px-8 md:px-6 px-4 py-8 min-h-screen" style="background-color: #f6ecd8">
        <div class="surface-card p-6 shadow-4 border-round w-full lg:w-5 md:w-7 sm:w-10">
            <div class="text-center mb-6">
                <img src="assets/logo.png" alt="Image" height="50" class="mb-3 border-round">
                <div class="text-900 text-3xl font-bold mb-2">Soul Compass</div>
                <span class="text-600 font-medium">Don't have an account?</span>
                <a class="font-medium text-blue-500 cursor-pointer ml-2" routerLink="/register" routerLinkActive="active">Create now!</a>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="email" class="block text-900 font-medium mb-2">Email</label>
                    <input id="email" type="text" placeholder="Email address"
                        formControlName="email" class="p-inputtext p-component p-element w-full mb-2"
                        [ngClass]="{'ng-invalid ng-dirty': email.invalid && (email.touched || email.dirty)}">
                    <small *ngIf="email?.errors?.['required'] && (email?.touched || email?.dirty)"
                        class="p-error text-red-500">Email is required.</small>
                    <small *ngIf="email?.errors?.['notFound']" class="p-error text-red-500">Account does not exist.</small>
                </div>

                <div>
                    <label for="password" class="block text-900 font-medium mb-2">Password</label>
                    <input id="password" type="password" placeholder="Password"
                        formControlName="password" class="p-inputtext p-component p-element w-full mb-2"
                        [ngClass]="{'ng-invalid ng-dirty': password.invalid && (password.touched || password.dirty)}">
                    <small *ngIf="password?.errors?.['required'] && (password?.touched || password?.dirty)"
                        class="p-error text-red-500">Password is required.</small>
                    <small *ngIf="password?.errors?.['invalidPassword']" class="p-error text-red-500">Incorrect password.</small>
                </div>

                <button pButton pRipple label="Sign In" icon="pi pi-sign-in" class="w-full mb-3 shadow-3 hover:shadow-5 text-white"
                    style="background-color: var(--purple-400);" [disabled]="loginForm.invalid"></button>
                <button pButton pRipple label="Register" icon="pi pi-user-plus" class="w-full text-white shadow-3 hover:shadow-5"
                    style="background-color: var(--purple-400);" routerLink="/register" routerLinkActive="active"></button>
            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<section class="footer" >
    <div class="footer-content">
        <h3>Soul Compass</h3>
        <p>Nơi Định Hướng Tâm Hồn</p>
        <div class="icon">
            <a><i class="pi pi-facebook" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-youtube" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-tiktok" style="font-size: 1.3rem"></i></a>
            <a href="" class=""><i class="pi pi-discord" style="font-size: 1.3rem"></i></a>
        </div>
    </div>
    <div class="footer-content">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/test" routerLinkActive="active">Test</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </div>
    <div class="footer-content">
        <li><a>Help</a></li>
        <li><a>Privacy</a></li>
        <li><a>Condition</a></li>
        <li><a>FAQS</a></li>
    </div>
</section>