<div class="container" #scroll>
    <!-- Top Blogs -->
    <section class="bvnb-section">
        <div class="sec-head1">
          <h2>Những Bài Viết Nổi Bật</h2>
          <li class="sec1-icon">
            <i class="pi pi-heart-fill" style="font-size: 2.5rem"></i>
          </li>
        </div>
        <div class="carousel">
          <p-carousel [value]="items" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template pTemplate="item" let-item>
              <div class="carousel-item">
                <img [src]="item.image" alt="Image" class="carousel-image" />
                <h3 class="name-card">{{ item.title }}</h3>
                <div class="number-like">
                  <div class="num-like">{{item.like}}</div>
                  <li class="icon-like"><i class="pi pi-heart-fill"></i></li>
                </div>
                <button class="btn-car">Xem ngay</button>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="bottom-btn">
            <button class="btn-bot" (click)="toBlogs()" routerLinkActive="active">
                <i class="pi pi-angle-down" style="font-size: 2.5rem"></i>
            </button>
        </div>
      </section>
      
      <section class="sec-2" id="blogs">
        <div class="header-2">
          <h2 class="top-sec2">Những bài viết bạn có thể quan tâm</h2>
          <div class="search">
            <p-iconField iconPosition="right" class="search-bar">
              <p-inputIcon styleClass="pi pi-search" />
              <input [style]="{ width: '500px'}" type="text" pInputText placeholder="Search" (input)="onSearch($event)" />
            </p-iconField>
          </div>
          <div class="chip-head">
            <div class="flex gap-2 flex-wrap">
              <p-chip *ngFor="let chip of chips" [label]="chip.label" [icon]="chip.icon" [style]="chip.style"
                [class.selected]="selectedTags.includes(chip.label)" (click)="toggleChip(chip.label)">
              </p-chip>
              <p-chip label="Clear" icon="pi pi-times" class="clear-chip" (click)="clearChips()"></p-chip>
            </div>
          </div>
        </div>
      
        <div class="blogs">
            <div *ngFor="let blog of filteredBlogs" class="card blog-card flex align-items-center justify-content-between p-3 border-1 surface-border border-round">
              <!-- Phần thông tin bài viết -->
              <div class="flex align-items-center gap-3">
                <img [src]="blog.image" alt="Avatar" class="avatar border-circle" style="width: 70px; height: 70px" />
                <div class="blog-info">
                  <p class="text-md font-medium p-2">{{ blog.author }}</p>
                  <h3 class="text-lg font-bold m-0 pl-2">{{ blog.title }}</h3>
                  <p class="text-md font-medium p-2">Type: {{ blog.tags.join(', ') }}</p>
                </div>
              </div>
          
              <!-- Phần footer với lượt xem, lượt thích và button -->
              <div class="card-footer">
                <!-- Phần lượt xem và lượt thích  -->
                <div class="left-section">
                  <div class="flex align-items-center gap-2">
                    <span>{{blog.watch}}</span>
                    <i class="pi pi-eye text-red" style="font-size: 1.3rem; color: blue"></i>
                  </div>
                  <div class="flex align-items-center gap-2">
                    <span>{{blog.like}}</span>
                    <i class="pi pi-heart" style="font-size: 1.3rem"></i>
                  </div>
                </div>
          
                <!-- Phần button -->
                <div class="right-section">
                  <button class="btn-car" (click)="viewBlog(blog)">Xem ngay</button>
                </div>
              </div>
            </div>
          </div>
          
      </section>
      
      
      <!-- Footer -->
    <section class="footer" >
        <div class="footer-content">
            <h3>Soul Compass</h3>
            <p>Nơi Định Hướng Tâm Hồn</p>
            <div class="icon">
                <a><i class="pi pi-facebook" style="font-size: 1.3rem"></i></a>
                <a href="" class=""><i class="pi pi-youtube" style="font-size: 1.3rem"></i></a>
                <a href="" class=""><i class="pi pi-tiktok" style="font-size: 1.3rem"></i></a>
                <a href="" class=""><i class="pi pi-discord" style="font-size: 1.3rem"></i></a>
            </div>
        </div>
        <div class="footer-content">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
            <li><a routerLink="/test" routerLinkActive="active">Test</a></li>
            <li><a>Contact</a></li>
        </div>
        <div class="footer-content">
            <li><a>Help</a></li>
            <li><a>Privacy</a></li>
            <li><a>Condition</a></li>
            <li><a>FAQS</a></li>
        </div>
    </section>
    </div>